REACT_APP_API_URL=http://127.0.0.1:5000/api
REACT_APP_GOOGLE_CLIENT_ID=your_google_client_id.apps.googleusercontent.com
REACT_APP_ZALO_APP_ID=your_zalo_app_id
REACT_APP_ZALO_CALLBACK_URL=http://localhost:3000/auth/zalo-callback
